---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/1412?api_key=fb6a1d3f38c3d97f67df6d141f936f29&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"250479b6a7b3bf30dac11faf74a2c006"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '7986'
      X-Memc-Expires:
      - '20814'
      X-Memc-Key:
      - bdb7ed8adee51fb502521d5828894e6f
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1519861120'
    body:
      encoding: ASCII-8BIT
      string: '{"backdrop_path":"/dKxkwAJfGuznW8Hu0mhaDJtna0n.jpg","created_by":[{"id":88967,"name":"Greg
        Berlanti","profile_path":"/AbocIYSo4KXx7nT6lz2dj3qMD8H.jpg"},{"id":171830,"name":"Marc
        Guggenheim","profile_path":"/rGwmkwNu39iCl2KkIn4IFLPif5w.jpg"},{"id":1216615,"name":"Andrew
        Kreisberg","profile_path":"/giFmwdBAw6uwC8yeHPaW6dq6YT8.jpg"}],"episode_run_time":[42],"first_air_date":"2012-10-10","genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":9648,"name":"Mystery"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://www.cwtv.com/shows/arrow","id":1412,"in_production":true,"languages":["en"],"last_air_date":"2018-05-03","name":"Arrow","networks":[{"name":"The
        CW","id":71,"logo_path":"/ge9hzeaU7nMtQ4PjkFlc68dGAJ9.png","origin_country":"US"}],"number_of_episodes":146,"number_of_seasons":6,"origin_country":["US"],"original_language":"en","original_name":"Arrow","overview":"Spoiled
        billionaire playboy Oliver Queen is missing and presumed dead when his yacht
        is lost at sea. He returns five years later a changed man, determined to clean
        up the city as a hooded vigilante armed with a bow.","popularity":109.084526,"poster_path":"/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg","production_companies":[{"name":"DC
        Entertainment","id":9993},{"name":"Berlanti Productions","id":27711}],"seasons":[{"air_date":"2013-10-02","episode_count":8,"id":3698,"poster_path":"/arpvBHZRhLjDLKGg2ZL8cYMy35I.jpg","season_number":0},{"air_date":"2012-10-10","episode_count":23,"id":3697,"poster_path":"/apwmb2l7nG97IIr68lqqUJrb7mL.jpg","season_number":1},{"air_date":"2013-10-09","episode_count":23,"id":3699,"poster_path":"/e6v6RUzAW7xO6OBeLtfOhlCawz6.jpg","season_number":2},{"air_date":"2014-10-08","episode_count":23,"id":62018,"poster_path":"/3bRWPv2IK1ZSSiwp3csmDfKCGq5.jpg","season_number":3},{"air_date":"2015-10-07","episode_count":23,"id":67989,"poster_path":"/jgP3f5jWZFW4pPryf4IfWqVepEp.jpg","season_number":4},{"air_date":"2016-10-05","episode_count":23,"id":79710,"poster_path":"/kxNiIRlYLLpEOFp2MCeGwdMMUwZ.jpg","season_number":5},{"air_date":"2017-10-12","episode_count":23,"id":90327,"poster_path":"/nBkw9ebhlkQMJYzCbYc0twWe8US.jpg","season_number":6}],"status":"Returning
        Series","type":"Scripted","vote_average":6.0,"vote_count":1642}'
  recorded_at: Wed, 28 Feb 2018 23:38:30 GMT
recorded_with: VCR 4.0.0
