@import 'colors.css';

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  background: linear-gradient(to right, var(--colorPrimaryLight), var(--colorPrimaryDark));
  padding: .25rem 1rem; 
  color: var(--colorWhite);
}


.logo {
  height: 4rem;
}

.navList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  
  & > *:not(:last-child) {
    margin-right: 1rem;
  }
}