:root {
  --colorPrimary: #37474f;
  --colorPrimaryLight: #62727b;
  --colorPrimaryDark: #102027;

  --colorSecondary: #d84315;
  --colorSecondaryLight: #ff7543;
  --colorSecondaryDark: #9f0000;

  --colorWhite: #F0F0F0;

}